* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  display: flex;
  height: 80vh;
  width: 50%;
  background-color: #fff;
  position: relative;
  align-items: center;
  /* margin-left: 200px;   */
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.steps {
  background-image: url(image/bg-sidebar-desktop.svg);
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 70vh;
  width: 30%;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.steps ul {
    list-style: none;
    counter-reset: my-counter;
}

.steps ul li {
    counter-increment: my-counter;
}

.steps ul li::before {
    content: counter(my-counter) ".";
    font-weight: bold;
    color: #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 10px;
}

.steps ul li:nth-child(3)::before {
    background-color: cyan;
    color: black;
}

.steps li {
    margin: 20px;
}

.steps li h2, .steps li p {
    font-size: 12px;
}

.pick {
    margin: 20px;
}

.pick p {
    margin-bottom: 30px;
}

.adds {
    display: block;
    margin: 10px;
}

.la1, .la2, .la3 {
    display: flex;
    border: 1px solid black;
    background-color: aliceblue;
    margin-bottom: 10px;
    border-radius: 10px;
    line-height: 20px;
    height: auto;
    padding: 10px;
    align-items: center;
}

.la1 h2, .la2 h2, .la3 h2 {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
}

.la1 p, .la2 p, .la3 p {
    font-size: 10px;
    color: grey;
    margin-left: 10px;
}

.la1 h3, .la2 h3, .la3 h3 {
    font-size: 10px;
    color: blue;
    margin-left: auto;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    transition: .4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: blue;
}

input:checked + .slider:before {
    transform: translateX(25px);
}

button {
    margin-top: 20px;
    background-color: rgb(6, 6, 56);
    color: #fff;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

a {
    text-decoration: none;
    color: grey;
}

/* Responsive Design */
@media (max-width: 700px) {
    .container {
        width: 90%;
        flex-direction: column;
        height: 100vh;
    }

    .steps {
        position: relative;
        background-image: url(image/bg-sidebar-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: auto;
        padding: 20px;
        text-align: center;
    }

    .steps ul {
      display: flex;
      justify-content: center;
      padding: 0;
  }
  
  .steps ul li {
      margin: 10px;

  }

    .la1, .la2, .la3 {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .la1 h3, .la2 h3, .la3 h3 {
        margin-left: 0;
    }

    button {
        margin-left: 0;
    }
}